/* Default */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: var(--charcoal);
}

th {
  text-align: center;
}

td {
  text-align: center;
}

.svg-icon {
  width: 16px;
  height: 16px;
  display: inline-block;
}
