/***		Header		***/

#navBar {
  overflow: hidden;
  background-color: teal;
  font-family: Copperplate, Papyrus, Fantasy;
}

#siteSearch { 
  display: flex;
  background-color: white;
  margin-top: 10px;
}

input:focus {
  border: 2px solid teal;
}

#searchButton {
  margin-top: 0px;
  height: 27px;
  padding-bottom: 2px;  
}
