/* Home */

#siteHome {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
}

#siteContent {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  min-height: 80vh;
}

/*
#siteFooter {
    align-self: flex-end;
}*/

.featured-image {
  margin: 8px;
  width: 128px;
}
